.container,
.book-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
}
.book-content {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1000px;
  transition: 1s;
}
.book {
  position: absolute;
  width: 200px; /* Set a fixed width or use percentage values */
  height: 300px;
  transition: 1s;
  transform-style: preserve-3d;
  transform-origin: left;
}
.face-front,
.face-back {
  width: 100%;
  height: 100%;
  background: white;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.face-front {
  box-shadow: inset 3px 0px 20px -7px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.face-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-1px) rotateY(180deg);
  box-shadow: inset -3px 1px 20px -7px black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.book-container {
  display: flex;
  justify-content: center;
  height: 100vh; /* Adjust to your needs */
}

.face-front,
.face-back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.face-front img,
.face-back img {
  max-width: 100%;
  max-height: 100%;
}
